body {
  font-family: 'Roboto', sans-serif;
  color: #2c2c2c;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
}

.container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.navigation {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  gap: 28px;
}

.navigation-list-item {
}

.navigation-link {
  display: block;
  font-size: 14px;
  padding: 28px 0;
}

.navigation-link:hover,
.navigation-link:focus {
  font-weight: 700;
  text-decoration: underline;
  color: #bbf330;
}

.button-order-now {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  padding: 0 17px;
  cursor: pointer;
  background-color: #bbf330;
  border-radius: 30px;
  padding: 6px 17px;
  min-width: 98px;
  height: 32px;
  border: none;
}

.hero {
  padding-top: 14px;
  padding-bottom: 69px;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 143px;
}

.hero-text-wrap {
  max-width: 511px;
}

.container {
}

.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}

.hero-text {
  line-height: 1.5;
  margin-bottom: 40px;
}

.hero-img {
  border-radius: 100%;
  border: 26px solid #ffe550;
  background-color: #fefefe;
}

.about {
  padding-top: 113px;
  padding-bottom: 124px;
  background-color: #ffe550;
}

.about-container {
  display: flex;
  align-items: center;
}

.about-img-border {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.5);
  width: 550px;
  height: 550px;
}

.about-img-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #fefefe;
  width: 502px;
  height: 502px;
}

.about-img {
  margin-top: -160px;
}

.about-text-wrap {
  margin-left: 90px;
  max-width: 573px;
}

.about-title {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.2;
}

.about-text {
  line-height: 1.5;
  margin-bottom: 40px;
}

.about-list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}

.about-list-item {
  width: calc((100% - 67px) / 2);
}

.about-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #fefefe;
  margin-bottom: 8px;
  color: #7eb101;
}

.about-link:hover,
.about-link:focus {
  color: aqua;
}

.about-icon {
  fill: currentColor;
}

.about-subtitle {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.about-description {
  font-size: 14px;
  line-height: 1.5;
}

.button-order-now {
}

.about-btn {
  border: 2px solid #7eb101;
  background-color: #fff;
}

.favourite {
  padding-top: 120px;
  padding-bottom: 101px;
}

.favorite-container {
  margin-left: 32px;
  padding-left: 0;
  padding-right: 0;
}

.favorite-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}

.favorite-text {
  text-align: center;
  margin-bottom: 40px;
}

.favorite-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.favorite-list-item {
  width: calc((100% - 64px) / 3);
  border: 16px solid #ffe550;
  border-radius: 197px;
  height: 396px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews {
  padding-top: 143px;
  padding-bottom: 123px;
  background-color: #ffe550;
}

.reviews-title {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 20px;
}

.reviews-text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
}

.reviews-list {
  display: flex;
  gap: 141px;
}

.reviews-item-stars {
  display: block;
  margin-bottom: 29px;
}

.reviews-item {
  width: 501px;
  height: 231px;
  padding: 14px;
  background-color: #fff;
  padding: 14px;
  border-radius: 0px 30px 30px 30px;
}

.reviews-item-text {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 41px;
  display: block;
}

.reviews-item-block {
  display: flex;
  max-width: 160px;
}

.reviews-item-name {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 21px; */
  line-height: 1.5;
}

.reviews-item-block-name {
  display: block;
  padding-top: 4px;
  margin-left: 16px;
}

.reviews-item-name-text {
  font-weight: 400;
  font-size: 14px;

  /* line-height: 21px; */
  line-height: 1.5;
}

.offers {
  padding-top: 176px;
  padding-bottom: 201px;
}

.offers-container {
  display: flex;
}

.offers-title {
  font-weight: 700;
  font-size: 42px;

  /* line-height: 50px; */
  line-height: 1.2;
  margin-bottom: 20px;
}

.offers-text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;

  /* line-height: 24px; */
  line-height: 1.5;
}

.offers-form {
}

.offers-input {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 18px; */
  line-height: 1.5;
  color: #505050;
}

.offers-button {
  font-weight: 500;
  font-size: 13px;

  /* line-height: 19px; */
  line-height: 1.5;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
}

.footer-container {
  /* display: flex; */
}

.footer-box {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 143px;
}

.footer-nav {
}

.footer-nav-list {
  display: flex;
  gap: 18px;
}

.footer-nav-item {
  font-weight: 400;
  font-size: 14px;
}

.footer-nav-link {
}

.footer-subscribe {
  font-weight: 500;
  font-size: 14px;

  /* line-height: 21px; */
  line-height: 1.5;
}

.footer-form {
}

.footer-label {
}

.footer-input {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 18px; */
  line-height: 1.5;
  color: #505050;
}

.footer-button {
  font-weight: 500;
  font-size: 13px;

  /* line-height: 19px; */
  line-height: 1.5;
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
}

.footer-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}

.footer-list {
}

.footer-item {
  font-weight: 400;
  font-size: 12px;
}

.footer-right {
  font-weight: 400;
  font-size: 12px;
}
